@import url('./globals.css');

section#portfolio {
  background-image: url(../images/github-white.png);
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: local;
  margin-left: 12rem;
}
section#portfolio {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

section#portfolio h1.title {
  color: var(--onBackground);
}

section#portfolio button#acessar-github {
  background-color: var(--primary);
  padding: 0.7rem 1.2rem;
  color: var(--onPrimary);
  font-weight: 700;
  border-radius: 0.25rem;
  margin-top: 1.5rem;
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

section#portfolio button#acessar-github i {
  color: var(--onPrimary);
  font-size: medium;
}

@media (min-width: 1024px) {
  section#portfolio h2, p {
    max-width: 30rem;
  }
}