@import url('./globals.css');

section#experiencia {
  background-color: var(--primaryContainer);
  background-image: url(../images/work2.png);
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: 105ex;
  background-attachment: local;
}


section#experiencia {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

section#experiencia h1.title {
  color: var(--onBackground);
}

section#experiencia strong.empresa {
  color: var(--primary);
}

section#experiencia p.section-description {
  text-align: left;
}
ul#itens-experiencia {
  margin-top: 3rem;
  margin-left: -2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


ul#itens-experiencia li {
  text-align: left;
}

@media (min-width: 1024px) {
  section#experiencia h2, p, button {
    max-width: 30rem;
  }
}